.mobile_container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    display: none;
    
    

    @media (max-width: 767px) {
        display: flex;
    }


}
.mobile_link{
    margin: .5rem;
    font-weight: 300;
    font-size: 13px;
}
.mobile_active {
    color: var(--white-color);
    border-bottom: .5px solid var(--white-color);
}

.mobile_inactive {
    color: var(--white-color);
}