.container {
    width: 100%;
    padding: 7px;
    background: var(--dark-color);
    color: var(--white-color);
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

}

.navMenu {
    width: fit-content;
    display: none;


    @media (max-width: 767px) {
        display: flex;
        outline: none;
        border: none;
        font-size: 20px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav {
    background: rebeccapurple;
}

.open {
    display: flex;
}

.close {
    display: none;
}

.largeNav {
    @media (max-width: 767px) {
        display: none;
    }
}

.navBoth {
    margin: 1rem;
    font-weight: 400;
    font-size: 16px;
}

.active {
    color: var(--white-color);
    border-bottom: .5px solid var(--orange-color);
}

.inactive {
    color: var(--white-color);
}
.mobile_container{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);

}
    
    .mobile_logo{
        color: #ec8b5e;
    }
    .mobile_body{
        display: flex;
        flex-direction: column;
        display: none;
        background-color: var(--dark-color);
        border-radius: 5px;
        outline: none;

    @media (max-width: 767px) {
        display: flex;
    }


}
.mobile_link{
    margin: .5rem;
    font-weight: 300;
    font-size: 13px;
}
.mobile_active {
    color: var(--white-color);
    border-bottom: .5px solid var(--white-color);
}

.mobile_inactive {
    color: var(--white-color);
}