@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-color: #0a1119;
    --light-color: #111924;
    --deepLemon-color: #112421;

    --white-color: #ffffff;
    --lemon-color: rgb(153, 229, 0);
    --font-family: Arial, sans-serif;
}

