@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-color: #0a1119;
    --white-color: #ffffff;
    --orange-color: rgb(255, 150, 0);
    --font-family: Arial, sans-serif;
}

