.container{
    background-color: var(--dark-color);
    width: 100%;
    height: 90vh;
    padding: 3rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.brand{
    color: var(--orange-color);
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 16px;
    font-family: Montserrat, sans-serif;
}
.caption{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 16px;
    line-height: 2.8rem;
    font-family: Montserrat, sans-serif;
}

.desc{
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 16px;
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
}
.join{
    background-color: var(--orange-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 5px;
    width: fit-content;
}
.get{
    border: 2px solid var(--orange-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 5px;
    width: fit-content;
}