.container{
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;

    @media (max-width: 767px) {


    }
}
.serve{
    width: 93%;
    min-height: 320px;
    padding: 12px;
    background: linear-gradient(to right, var(--light-color), var(--deepLemon-color));
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 480px) {
        /* flex-direction: column; */
        padding: 0;
        width: 100%;
    }
}

.eachService{
    width: 260px;
    height: 200px;
    margin: 20px;
    border-radius: 4%;
    padding: 15px;
    border-left: 1px solid var(--lemon-color);
    border-right: 1px solid var(--lemon-color);   
    
    @media (max-width: 767px) {
        border-bottom: 1px solid var(--lemon-color);
        /* border-top: 1px solid var(--lemon-color); */
        border-right: 0;
        border-left: 0;
        padding: 5px 10px;
        width: 95%;
        height: fit-content;
    }
}

.label{
    color: var(--lemon-color);
    font-size: 18px;
    text-align: center;
}