.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 1.5rem 0;

    @media (max-width: 767px) {


    }
}
.serve{
    width: 93%;
    min-height: 320px;
    /* padding: 12px; */
    /* background: linear-gradient(to right, var(--light-color), var(--deepLemon-color)); */
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 480px) {
        /* flex-direction: column; */
        padding: 0;
        width: 100%;
    }
}

.eachService{
    width: 270px;
    height: fit-content;
    margin: 20px;
    border-radius: 4%;
    padding: 15px;
    border-left: 1px solid var(--darkLemon-color);
    border-right: 1px solid var(--darkLemon-color);   
    
    @media (max-width: 767px) {
        border-bottom: 1px solid var(--darkLemon-color);
        border-right: 0;
        border-left: 0;
        padding: 5px 10px;
        width: 95%;
        height: fit-content;
    }
}

.label{
    color: var(--darkLemon-color);
    font-size: 1.5rem;
    text-align: center;
}

.desc{
    font-size: 18px;
}