.container {
    background-color: var(--light-color);
    color: var(--white-color);
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 1.5rem;
    padding: 0.5rem;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.image {
    border-radius: 50%;
    width: fit-content;
    width: 20%;
}

.text {
    width: 70%;
    
    @media (max-width: 767px) {
        width: fit-content
    }
}